html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
#main {
  background-color: #ffffff;
}
th, td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #c0c1c2;
}
#t01 {
  width: 100%; 
  table-layout: fixed;   
  background-color: #ffffff;
  color: black;
}
.threshold-breach-minor { 
  background-color: #c0ffb5;
}
.threshold-breach-major { 
  background-color: #f7ff9c;
}
.threshold-breach-critical { 
  background-color: #ffbfb5;
}

.topnav {
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color:#4d4e4f;
  text-align: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #4a91c2;
    color: white;
}

.graph-img {
  height: auto;
  width: 100%; 
}

.graph-container {
  height: auto;
  width: 100%; 
}
