html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
#main {
  background-color: #ffffff;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%; 
  table-layout: fixed;   
  background-color: #ffffff;
  color: black;
}
.threshold-breach { 
  background-color: #ffb5b5;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: #4CAF50;
}