{% extends "base.html" %}
{% block content %}
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ coretemp }}">
</div>
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ cpu_usage_vs_time }}">
</div>
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ cpu_freq_vs_time }}">
</div>
<table id="t01" style="width:100%">
  <tr>
    <th>CPU frequency</th>
    <th>CPU load % </th>
    <th>Date</th>
  </tr>
  {% for cur_freq,cpu_usage_t,updated in cpu_table_created %}
  <tr>
    <td>{{ cur_freq }}</td>
    <td>{{ cpu_usage_t }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}