{% extends "base.html" %}
{% block content %}
<h3 class="w3-center">Date filter</h3>
<div class="topnav">
  <a class="active" href="/cpu_stats">Latest from today (default)</a>
  <a href="/cpu_week">Weekly data</a>
  <a href="/cpu_month">Monthly data</a>
</div>
<br>
  <img class="w3-row w3-center" src="data:image/png;base64, {{ cpu_freq_vs_time }}"  width="100%" height="auto">
  <img class="w3-row w3-center" src="data:image/png;base64, {{ cpu_usage_vs_time }}" width="100%" height="auto">
  <img class="w3-row w3-center" src="data:image/png;base64, {{ coretemp }}" width="100%" height="auto">
  <img class="w3-row w3-center" src="data:image/png;base64, {{ loadavg }}" width="100%" height="auto">
<br>
<table id="t01" style="width:100%">
  <tr>
    <th>CPU frequency</th>
    <th>CPU load % </th>
    <th>Date</th>
  </tr>
  {% for cur_freq,cpu_usage_t,updated in cpu_table_created %}
    <tr>
      <td>{{ cur_freq }}</td>
      {% if cpu_usage_t <= 15.0 %}
        <td class="threshold-breach-minor">{{ cpu_usage_t }}</td>
      {% elif cpu_usage_t <= 30.0 %}
        <td class="threshold-breach-major">{{ cpu_usage_t }}</td>
      {% elif cpu_usage_t >= 60.0 %}
        <td class="threshold-breach-critical">{{ cpu_usage_t }}</td>
      {% else %}
          <td>{{ cpu_usage_t }}</td>
      {% endif %}
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}