{% extends "base.html" %}
{% block content %}
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ cpu_freq_vs_time }}"  width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ cpu_usage_vs_time }}"  width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ coretemp }}" width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ cpu }}"  width="100%">
<table id="t01" style="width:100%">
  <tr>
    <th>CPU frequency</th>
    <th>CPU load % </th>
    <th>Date</th>
  </tr>
  {% for cur_freq,cpu_usage_t,updated in cpu_table_created %}
  <tr>
    <td>{{ cur_freq }}</td>
    <td>{{ cpu_usage_t }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}