{% extends "base.html" %}
{% block content %}
<h3 class="w3-center">Date filter</h3>
<div class="topnav">
  <a class="active" href="/disk_stats">Latest from today (default)</a>
  <a href="/disk_week">Weekly data</a>
  <a href="/disk_month">Monthly data</a>
</div>
<img class="w3-half w3-center" src="data:image/png;base64, {{ disk_free }}"  width="100%">
<img class="w3-half w3-center" src="data:image/png;base64, {{ disk_used }}"  width="100%">
<img class="w3-half w3-center" src="data:image/png;base64, {{ disk_w }}" width="100%">
<img class="w3-half w3-center" src="data:image/png;base64, {{ disk_r }}"  width="100%">
<table id="t01" style="width:100%">
  <tr>
    <th>Write I/O on hard drive in GB</th>
    <th>Write I/O on hard drive in GB </th> 
    <th>Disk used in GB </th>
  <th>Date</th>
  </tr>
  {% for write_io,read_io,d_used,updated in disk_table_created %}
  <tr>
    <td>{{ write_io }}</td>
    <td>{{ read_io }}</td>
    <td>{{ d_used }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}