{% extends "base.html" %}
{% block content %}
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ disk }}">
</div>
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ disk_w }}">
</div>
<div class="w3-third">
  <img class="w3-image" src="data:image/png;base64, {{ disk_r }}">
</div>
<table id="t01" style="width:100%">
  <tr>
    <th>Write I/O on hard drive in GB</th>
    <th>Write I/O on hard drive in GB </th> 
    <th>Disk used in GB </th>
  <th>Date</th>
  </tr>
  {% for write_io,read_io,d_used,updated in disk_table_created %}
  <tr>
    <td>{{ write_io }}</td>
    <td>{{ read_io }}</td>
    <td>{{ d_used }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}