{% extends "base.html" %}
{% block content %}
<h3 class="w3-center">Date filter</h3>
<div class="midnav">
  <a href="/disk_stats">Today (default)</a>
  <a href="/disk_week">This week</a>
  <a href="/disk_month">This month</a>
  <a href="/disk_week_prev">Previous week</a>
  <a href="/disk_month_prev">Previous month</a>
</div>
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ disk_free }}"  width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ disk_used }}"  width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ disk_w }}" width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ disk_r }}"  width="100%" height="auto">
<table id="t01" style="width:100%">
  <tr>
    <th>Write I/O on hard drive in GB</th>
    <th>Write I/O on hard drive in GB </th> 
    <th>Disk used in GB </th>
  <th>Date</th>
  </tr>
  {% for write_io,read_io,d_used,updated in disk_table_created %}
  <tr>
    <td>{{ write_io }}</td>
    <td>{{ read_io }}</td>
    <td>{{ d_used }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}