<!DOCTYPE html>
<html>
<title>Jarvis v1.0.2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;    
  background-color: #ffffff;
}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img class="w3-image" src="{{ url_for('static', filename='guard.png')}}" width="300" height="200">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Howdy,<strong>Admin</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="/dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-info fa-fw"></i>Dashboard</a>
    <a href="/cpu_stats" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  CPU stats</a>
    <a href="/ram_stats" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  RAM stats</a>
    <a href="/disk_stats" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Disk stats</a>
    <a href="/net_stats" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Network stats</a>
    <a href="/processes" class="w3-bar-item w3-button w3-padding"><i class="fa fa-server fa-fw"></i>Processes</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-center">
      <div class="w3-container w3-white w3-padding-16 w3-large">
        {% for nodename,osname,osarch,cpuarch,boot in sysinfo_result1 %}
        <table id="t01" style="width:100%">
          <tr>
            <th>Hostname</th>
            <th>OS type</th> 
            <th>OS architecture</th>
            <th>CPU architecture</th>
            <th>Boot time</th>
          </tr>
          <tr>
            <td>{{ nodename }}</td>
            <td>{{ osname }}</td>
            <td>{{ osarch }}</td>
            <td>{{ cpuarch }}</td>
            <td>{{ boot }}</td>
          </tr>
        </table>
        {% endfor %}
        <br>
        {% for d_total,total_mem,swap_total,cores_ph,cores_t,max_freq,min_freq in sysinfo_result2 %}
        <table id="t01" style="width:100%">
          <tr>
            <th>Total space</th>
            <th>Total RAM</th> 
            <th>Total SWAP</th>
            <th>Physical cores</th>
            <th>Logical cores</th>
            <th>Max CPU frequency MHz</th>
            <th>Min CPU frequency MHz</th>
          </tr>
          <tr>
            <td>{{ d_total }}</td>
            <td>{{ total_mem }}</td>
            <td>{{ swap_total }}</td>
            <td>{{ cores_ph }}</td>
            <td>{{ cores_t }}</td>
            <td>{{ max_freq }}</td>
            <td>{{ min_freq }}</td>
          </tr>
        </table>
        {%  endfor %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16" style="background-color:#c6ffb3">
      {% for cpu_usage_t, cur_freq, used_mem, swap_used in header_result1 %}
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cpu_usage_t }}</h3>        
        </div>
        <div class="w3-clear"></div>
        <h5>CPU load average, %</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cur_freq }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>CPU frequency avg in  GHz</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ used_mem }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>RAM used average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ swap_used }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>SWAP used avaverage in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
      {% for read_io, write_io, sent_b, recv_b in header_result2 %}
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ read_io }}</h3>        
        </div>
        <div class="w3-clear"></div>
        <h5>Read I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ write_io }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Write I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ sent_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Sent average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ recv_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Received average in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='cpu_pie.png')}}">
      </div>
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='net_p_pie.png')}}">
      </div>
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='net_mb_pie.png')}}">
      </div>
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='ram_pie.png')}}">
      </div>
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='disk_pie.png')}}">
      </div>
      <div class="w3-third">
        <img class="w3-image" src="{{ url_for('static', filename='swap_pie.png')}}">
      </div>
     </div>
    </div>

      
   
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");


</script>

</body>
</html>