{% extends "base.html" %}
{% block content %}
<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-light-blue w3-padding-16">
      {% for cpu_usage_t, cur_freq, used_mem, swap_used in header_result1 %}
      <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cpu_usage_t }}</h3>
        </div>
        <div class="w3-clear">
        <h5>CPU load average, %</h4>
        </div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cur_freq }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>CPU frequency avg in  GHz</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ used_mem }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>RAM used average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ swap_used }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>SWAP used avaverage in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
      {% for read_io, write_io, sent_b, recv_b in header_result2 %}
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ read_io }}</h3>        
        </div>
        <div class="w3-clear"></div>
        <h5>Hard drive read I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ write_io }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Hard drive write I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ sent_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Sent average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ recv_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Received average in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
<div class="w3-panel">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ cpu }}"  width="100%">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ disk }}"  width="100%">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ ram }}" width="100%">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ swap }}"  width="100%">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ net_p }}"  width="100%">
  <img class="w3-half w3-center" src="data:image/png;base64, {{ net_mb }}"  width="100%">
</div>


{% endblock %}