{% extends "base.html" %}
{% block content %}
<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-light-blue w3-padding-16">
      {% for cpu_percent, cur_freq, used_mem, swap_used in header_result1 %}
      <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cpu_percent }}</h3>
        </div>
        <div class="w3-clear">
        <h5>CPU usage, %</h4>
        </div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ cur_freq }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>CPU frequency avg in  GHz</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ used_mem }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>RAM used average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ swap_used }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>SWAP used avaverage in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
      {% for read_io, write_io, sent_b, recv_b in header_result2 %}
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ read_io }}</h3>        
        </div>
        <div class="w3-clear"></div>
        <h5>Hard drive read I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ write_io }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Hard drive write I/O average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ sent_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Sent average in GB</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
        <div class="w3-center">
          <h3>{{ recv_b }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Network - Received average in GB</h5>
      </div>
    </div>
  </div>
  {% endfor %}
<div class="w3-panel">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ loadavg }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ cpu_freq_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ cpu_usage_vs_time }}" width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ coretemp }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ swap_free_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ ram_free_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ swap_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ ram_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ disk_free }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ disk_used }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ disk_w }}" width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ disk_r }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ sentb_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ resvb_vs_time }}"  width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ sentp_vs_time }}" width="100%">
  <img class="w3-row w3-center w3-mobile w3-image" src="data:image/png;base64, {{ resvp_vs_time }}"  width="100%">
</div>
{% endblock %}