{% extends "base.html" %}
{% block content %}
<div class="w3-quarter">
  <img class="w3-image" src="data:image/png;base64, {{ sentb_vs_time }}">
</div>
<div class="w3-quarter">
  <img class="w3-image" src="data:image/png;base64, {{ resvb_vs_time }}">
</div>
<div class="w3-quarter">
  <img class="w3-image" src="data:image/png;base64, {{ net_p }}">
</div>
<div class="w3-quarter">
  <img class="w3-image" src="data:image/png;base64, {{ net_mb }}">
</div>
<table id="t01" style="width:100%">
  <tr>
    <th>Sent over network in MB</th>
    <th>Received over network in MB</th>
    <th>Date</th>
  </tr>
  {% for sent_b,recv_b,updated in net_table_created %}
  <tr>
    <td>{{ sent_b }}</td>
    <td>{{ recv_b }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}