{% extends "base.html" %}
{% block content %}
<br>
<div class="w3-row-padding w3-margin-bottom ">
  <table id="t01" style="width:100%">
    <tr>
      <th>Name</th>
      <th>Location</th> 
      <th>CPU % used</th>
      <th>RAM used</th>
    </tr>
    {% for a,b,c,d in result %}
    <tr>
      <td>{{ a }}</td>
      <td>{{ b }}</td>
      {% if c <= 15 %}
        <td class="threshold-breach-minor">{{ c }}</td>
      {% elif c <= 70 %}
        <td class="threshold-breach-major">{{ c }}</td>
      {% elif c >= 70 %}
        <td class="threshold-breach-critical">{{ c }}</td>
      {% else %}
        <td>{{ c }}</td>
      {% endif %}
      <td>{{ d }}</td>                            
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}