{% extends "base.html" %}
{% block content %}
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ ram }}"  width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ swap }}" width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ ram_vs_time }}"  width="100%">
<img class="w3-half w3-image w3-center" src="data:image/png;base64, {{ swap_vs_time }}"  width="100%">
<table id="t01" style="width:100%">
  <tr>
    <th>Used RAM in MB</th>
    <th>SWAP used in MB</th>
    <th>Date</th>
  </tr>
  {% for used_mem,swap_used,updated in ram_table_created %}
  <tr>
    <td>{{ used_mem }}</td>
    <td>{{ swap_used }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}