{% extends "base.html" %}
{% block content %}
<div class="midnav" id="midnav">
  <a href="/ram_stats">Today (default)</a>
  <a href="/ram_week">This week</a>
  <a href="/ram_month">This month</a>
  <a href="/ram_week_prev">Previous week</a>
  <a href="/ram_month_prev">Previous month</a>
    <a href="javascript:void(0);" class="icon" onclick="mobileMidMenu()">
    <i class="fa fa-bars" style"font-size:15px"></i>
  </a>
</div>
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ ram_free_vs_time }}"  width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ swap_free_vs_time }}" width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ ram_vs_time }}"  width="100%" height="auto">
<img class="w3-row w3-center w3-mobile" src="data:image/png;base64, {{ swap_vs_time }}"  width="100%" height="auto">
<table id="t01" style="width:100%">
  <tr>
    <th>Used RAM in MB</th>
    <th>SWAP used in MB</th>
    <th>Date</th>
  </tr>
  {% for used_mem,swap_used,updated in ram_table_created %}
  <tr>
    <td>{{ used_mem }}</td>
    <td>{{ swap_used }}</td>
    <td>{{ updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}